@using MyBasket.Models

@model List<Product>

<div class="container">
    <div class="row">
        @foreach (Product product in Model)
        {
            <div class="col-md-4">
                <img src="~/Assets/ProductImages/@product.Picture" class="card-img-top" alt="Card image cap" /><br />
                @product.Name<br />
                @product.UnitPrice<br />
                <a class="btn btn-primary" onclick="AddProductCart(@product.ID)">Add To Cart</a>
            </div>
        }
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/UserDefined/Site.js")"></script>
</div>